$brand-color1: #C1272D;
$brand-color2: #F15A24;

$body-bg: #f5f5f5;
$primary: #4b0f09;
$anchor: #532d2a;
$anchor-hover: #99534d;
$nav-link-color: #9c2014;
$font-family-title: 'Fira Sans', sans-serif;

$facebook-color:#3B5998;
$twitter-color:#00aced;
$instagram-color:#515BD4;
$vimeo-color:#7FC400;
$youtube-color:#bb0000;
$google-color:#bb0000;
$rss-color:#FA9B39;