#backend {
  .swal2-popup.swal2-toast {
    padding: 1.5em;
  }

  .filter-wrapper {
    //background-image: linear-gradient(to top right, #fff3eb, #fffbf7);
    background: linear-gradient(to bottom, #fff6ed 0%, #fffbf7 44%, #fffefc 100%);
    margin-bottom: .3rem;
    padding: .5rem;
  }
}

.txtarea-noresize {
  resize: none;
}

  .member-tag-wrapper {
    margin: .2rem;
    position:relative;

    .member-tag-text{
      display: inline-block;
      width:85%;
      vertical-align: middle;
    }

    .member-tag-btn{
      display: inline-block;
      width:5%;
      vertical-align: middle;
      margin-left:5px;
    }
  }

.list-group-item, .member-tag {
  .button-list-close {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    overflow: hidden;
    //float: right;
    //padding: 1.2rem 0 0 0;
    margin: 0;
  }

  .button-list-close:before, .button-list-close:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    background: #0a150a;

    height: 2px;
    margin-top: -1px;
  }

  .button-list-close:before {
    transform: rotate(45deg);
  }

  .button-list-close:after {
    transform: rotate(-45deg);
  }
}

#filters-list {
  .btn {
    white-space: normal;
    color: #002e91;
    border-color: #002e91;
  }

  .button-list-close {
    font-size: 1.4em;
    //padding-left: 1rem;
    color: #002e91;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

#group_members_list > .card, .list-group-item {
  p {
    padding: 1rem 0 0 0;
  }
}

#member_edit_preview {
  margin-top: 1.5rem;
  clear: both;
}