#table-blog_posts {
  td {
    .btn-pin {
      color: #fff;

      .fa {
        opacity: 0.5;
      }

      &.pinned {
        .fa {
          opacity: 1;
          transform: rotate(-25deg);
        }
      }
    }
  }
}

#blog-post {
  #blog-post-title {
    position: relative;
  }

  .blog-post-title-length {
    position: absolute;
    top: 0.5rem;
    right: -1rem;
  }

  .blog-post-pinned {
    position: absolute;
    top: 0;
    left: -1rem;
    padding: 0.4rem 0.5rem;

    &:hover {
      cursor: pointer;
    }

    .pin-container {
      position: relative;
      color: #7d7d7d;

      &.pinned {
        color: $success;
      }
    }

    .pin-marker {
      position: absolute;
      font-size: 0.6rem;
      bottom: -0.3rem;
      right: -0.4rem;
    }
  }

  .blog-post-url {
    .btn.btn-sm {
      &:focus {
        box-shadow: none;
      }
    }
  }

  .blog-source-form {
    margin-bottom: 1.5rem;
  }

  .blog-sources {
    .txt-container {
      padding: 0.5rem 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      i {
        margin-right: 0.5rem;
      }
    }
  }
}