#blog-post {
  #blog-post-title {
    position: relative;
  }

  .blog-post-title-length {
    position: absolute;
    top: 0.5rem;
    right: -1rem;

  }

  .blog-post-url {
    .btn.btn-sm {
      &:focus {
        box-shadow: none;
      }

      //&:hover{
      //  background-color:#f3f3f3;
      //}
    }
  }

  .blog-source-form {
    margin-bottom: 1.5rem;
  }

  .blog-sources {
    .txt-container {
      padding: 0.5rem 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      i {
        margin-right: 0.5rem;
      }
    }
  }
}