/*
 * Component: Sidebar
 * ------------------
 */
// Main Sidebar
.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: $navbar-height;
  min-height: 100%;
  width: $sidebar-width;
  z-index: 810;

  // Using disposable variable to join statements with a comma
  $transition-rule: $transition-speed $transition-fn, width $transition-speed $transition-fn;
  @include transition-transform($transition-rule);

  @media (max-width: $screen-header-collapse) {
    padding-top: 100px;
  }

  @media (max-width: $screen-xs-max) {
    @include translate(-$sidebar-width, 0);
  }

  .sidebar-collapse & {
    @media (min-width: $screen-sm) {
      @include translate(-$sidebar-width, 0);
    }
  }

  .sidebar-open & {
    @media (max-width: $screen-xs-max) {
      @include translate(0, 0);
    }
  }
}

.sidebar {
  padding-bottom: 10px;
}

// Remove border from form
.sidebar-form {
  input:focus {
    border-color: transparent;
  }
}

// Sidebar menu
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  //First Level
  > li {
    font-size:.8rem;
    position: relative;
    margin: 0;
    padding: 0;
    > a {
      padding: 12px 5px 12px 15px;
      display: block;
      > .fa,
      > .glyphicon,
      > .ion {
        font-size:1rem;
        width: 20px;
      }
    }
    .label,
    .badge {
      margin-right: 5px;
    }
    .badge {
      margin-top: 3px;
    }
  }
  li.header {
    padding: 10px 25px 10px 15px;
    font-size: .8rem;
  }
  li > a > .fa-angle-left,
  li > a > .pull-right-container > .fa-angle-left {
    padding: 0;
    margin-right: 10px;
    @include transition(transform .5s ease);
  }
  li > a > .fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    //margin-top: -8px;
  }

  .menu-open {
    > a > .fa-angle-left,
    > a > .pull-right-container > .fa-angle-left {
      @include rotate(-90deg);
    }
  }
  .active > .treeview-menu {
    display: block;
  }
}

// Tree view menu
.treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  .treeview-menu {
    padding-left: 20px;
  }
  > li {
    margin: 0;
    > a {
      padding: 5px 5px 5px 15px;
      display: block;
      font-size: 14px;
      > .fa,
      > .glyphicon,
      > .ion {
        width: 20px;
      }
      //> .pull-right-container > .fa-angle-left,
      //> .pull-right-container > .fa-angle-down,
      //> .fa-angle-left,
      //> .fa-angle-down {
      //  width: auto;
      //}
    }
  }
}
